<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @quantity.unit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @quantity.amount %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @quantity.recipe.title %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @quantity.ingredient.name %>
</p>

<%= link_to 'Edit', edit_quantity_path(@quantity) %> |
<%= link_to 'Back', quantities_path %>
